html,
body,
button {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 1.2;
  background: #eeeeee;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 30px;
  letter-spacing: 2px;
  margin: 6px 0;
}

h3 {
  font-size: 16px;
  letter-spacing: 4px;
  opacity: 0.6;
}

.landing,
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eeeeee;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  letter-spacing: 2px;
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

.header--sticky {
  position: fixed;
  top: 0;
}

.header__toggle-button {
  width: 100px;
  height: 100%;
  outline: 0;
  margin: 0;
  padding: 0;
  background: #0e8dbc;
  border: 0;
  cursor: pointer;
}

.header__toggle-button__text {
  padding: 6px;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: -1px 1px 0 #3a50d9, -2px 1px 0 #0a0e27;
}

.header__toggle-button__graphics {
  display: block;
  flex: 1 100%;
  width: 100%;
  height: 45px;
  position: relative;
  transform: rotate(0deg) scale(0.5);
  transition: 200ms ease-in-out;
  outline: 0;
}

.header__toggle-button__graphics span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #ffffff;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 100ms ease-in-out;
}

.header__toggle-button__graphics span:nth-child(1) {
  top: 0;
}

.header__toggle-button__graphics span:nth-child(2) {
  top: 18px;
}

.header__toggle-button__graphics span:nth-child(3) {
  top: 36px;
}

.header__toggle-button:hover span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.header__toggle-button:hover span:nth-child(2) {
  opacity: 0;
}

.header__toggle-button:hover span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

.header__menu {
  flex: 1 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.header__list {
  flex: 1 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.header__list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.header__list-item p {
  padding: 10px;
}

.header__list-item:hover p {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
